.idea
.DS_Store
*.log

#coverage
.coveralls-repo-token
.coverage
htmlcov

#python
*.pyc
.eggs
quantflow.egg-info
__pycache__
odm.egg-info
build
dist
venv
tests/config.py
tests/betfair.crt
tests/betfair.key
