#
# IDEs
.idea
*.sublime-workspace

#
# Files
.DS_Store
*.log
.env

#
# Coverage
.coveralls-repo-token
.coverage
htmlcov

#
# Python
*.pyc
.eggs
*.egg-info
__pycache__
build
dist
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.python-version

# Jupyter
*.ipynb
.ipynb_checkpoints
_build
