.DS_Store
*.log

#eclipse
.project
.pydevproject

#coverage
.coveralls-repo-token
.coverage
htmlcov

#python
*.pyc
__pycache__
odm.egg-info
build
dist
tests/config.py
tests/betfair.crt
tests/betfair.key
