site_name: QuantFlow
site_url: https://quantmind.github.io/quantflow/
repo_name: quantmind/quantflow
repo_url: https://github.com/quantmind/quantflow
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.footer
    - navigation.indexes
    - navigation.path
    - content.code.copy
  logo: assets/quantflow-logo.png
  favicon: img/favicon.png
nav:
  - Home: index.md
  - API Reference:
      - api/index.md
      - Data:
          - api/data/index.md
          - Deribit: api/data/deribit.md
          - FED: api/data/fed.md
          - FMP: api/data/fmp.md
          - FRED: api/data/fred.md
      - Options:
          - api/options/index.md
          - Black: api/options/black.md
          - Calibration: api/options/calibration.md
          - Pricer: api/options/pricer.md
          - Vol Surface: api/options/vol_surface.md
      - Stochastic Processes:
          - api/sp/index.rst
          - CIR: api/sp/cir.rst
          - Compound Poisson: api/sp/compound_poisson.rst
          - Heston: api/sp/heston.rst
          - Jump Diffusion: api/sp/jump_diffusion.rst
          - Ornstein-Uhlenbeck: api/sp/ou.rst
          - Poisson: api/sp/poisson.rst
          - Wiener: api/sp/weiner.rst
      - Technical Analysis:
          - api/ta/index.md
          - OHLC: api/ta/ohlc.md
          - Paths: api/ta/paths.md
          - Kalman Filter: api/ta/kalman.md
          - Super Smoother: api/ta/supersmoother.md
      - Utils:
          - api/utils/index.md
          - Bins: api/utils/bins.md
          - Distributions: api/utils/distributions.md
          - Marginal 1D: api/utils/marginal1d.md
  - Applications:
      - Supersmoother: applications/supersmoother/index.html
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            show_if_no_docstring: true
            inherited_members: true
            members_order: source
            separate_signature: true
            unwrap_annotated: true
            filters:
              - "!^_"
            merge_init_into_class: true
            docstring_section_style: spacy
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            extensions:
              - griffe_typingdoc
              - griffe_pydantic:
                  schema: false
markdown_extensions:
  - tables
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
