[tool.poetry]
name = "quantflow"
version = "0.2.6"
description = "quantitative analysis"
authors = ["Luca <luca@quantmind.com>"]
license = "BSD-3-Clause"
readme = "readme.md"

[tool.poetry.urls]
Homepage = "https://github.com/quantmind/quantflow"
Repository = "https://github.com/quantmind/quantflow"
Documentation = "https://quantmind.github.io/quantflow/"

[tool.poetry.dependencies]
python = ">=3.11,<3.14"
scipy = "^1.14.1"
aiohttp = {version = "^3.8.1", optional = true}
pydantic = "^2.0.2"
ccy = {version="^1.5.0", extras=["cli"]}
asciichart = "^0.1"
python-dotenv = "^1.0.1"
asciichartpy = "^1.5.25"
prompt-toolkit = "^3.0.43"
polars = {version = "1.9.0", extras=["pandas", "pyarrow"]}

[tool.poetry.group.dev.dependencies]
black = "^24.1.1"
pytest-cov = "^5.0.0"
mypy = "^1.9.0"
ghp-import = "^2.0.2"
ruff = "^0.6.9"
pytest-asyncio = "^0.24.0"


[tool.poetry.extras]
data = ["aiohttp"]

[tool.poetry.group.book]
optional = true

[tool.poetry.group.book.dependencies]
jupyter-book = "^1.0.0"
nbconvert = "^7.16.3"
jupytext = "^1.13.8"
plotly = "^5.20.0"
jupyterlab = "^4.0.2"
sympy = "^1.12"
ipywidgets = "^8.0.7"

[tool.poetry.scripts]
qf = "quantflow.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.jupytext]
formats = "ipynb,myst"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = [
    "quantflow_tests"
]

[tool.isort]
profile = "black"

[tool.ruff]
lint.select = ["E", "F"]
extend-exclude = ["fluid_apps/db/migrations"]
line-length = 88

[tool.hatch.version]
path = "quantflow/__init__.py"

[tool.mypy]
# strict = true
disallow_untyped_calls = true
disallow_untyped_defs = true
warn_no_return = true

[[tool.mypy.overrides]]
module = [
    "asciichartpy.*",
    "quantflow_tests.*",
    "IPython.*",
    "pandas.*",
    "plotly.*",
    "scipy.*"
]
ignore_missing_imports = true
disallow_untyped_defs = false
