[tool.poetry]
name = "quantflow"
version = "0.3.3"
description = "quantitative analysis"
authors = ["Luca <luca@quantmind.com>"]
license = "BSD-3-Clause"
readme = "readme.md"

[tool.poetry.urls]
Homepage = "https://github.com/quantmind/quantflow"
Repository = "https://github.com/quantmind/quantflow"
Documentation = "https://quantmind.github.io/quantflow/"

[tool.poetry.dependencies]
python = ">=3.11"
scipy = "^1.14.1"
pydantic = "^2.0.2"
ccy = { version = "^1.7.1" }
python-dotenv = "^1.0.1"
polars = { version = "^1.11.0", extras = ["pandas", "pyarrow"] }
asciichartpy = { version = "^1.5.25", optional = true }
prompt-toolkit = { version = "^3.0.43", optional = true }
aio-fluid = { version = "^1.2.1", extras = ["http"], optional = true }
rich = { version = "^13.9.4", optional = true }
click = { version = "^8.1.7", optional = true }
holidays = { version = "^0.63", optional = true }
async-cache = { version = "^1.1.1", optional = true }

[tool.poetry.group.dev.dependencies]
black = "^25.1.0"
pytest-cov = "^6.0.0"
mypy = "^1.14.1"
ghp-import = "^2.0.2"
ruff = "^0.11.12"
pytest-asyncio = "^0.26.0"
isort = "^6.0.1"


[tool.poetry.extras]
data = ["aio-fluid"]
cli = [
    "asciichartpy",
    "async-cache",
    "prompt-toolkit",
    "rich",
    "click",
    "holidays",
]

[tool.poetry.group.book]
optional = true

[tool.poetry.group.book.dependencies]
jupyter-book = "^1.0.0"
jupytext = "^1.13.8"
plotly = "^5.20.0"
jupyterlab = "^4.0.2"
sympy = "^1.12"
ipywidgets = "^8.0.7"
sphinx-autodoc-typehints = "2.3.0"
sphinx-autosummary-accessors = "^2023.4.0"
sphinx-copybutton = "^0.5.2"
autodocsumm = "^0.2.14"

[tool.poetry.scripts]
qf = "quantflow.cli.script:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.jupytext]
formats = "ipynb,myst"

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = ["quantflow_tests"]

[tool.isort]
profile = "black"

[tool.ruff]
lint.select = ["E", "F"]
line-length = 88

[tool.hatch.version]
path = "quantflow/__init__.py"

[tool.mypy]
# strict = true
disallow_untyped_calls = true
disallow_untyped_defs = true
warn_no_return = true

[[tool.mypy.overrides]]
module = [
    "asciichartpy.*",
    "cache.*",
    "quantflow_tests.*",
    "IPython.*",
    "pandas.*",
    "plotly.*",
    "scipy.*",
]
ignore_missing_imports = true
disallow_untyped_defs = false
