image:
  registry: ghcr.io/quantmind
  repository: quantflow
  tag: latest
  pullPolicy: IfNotPresent

targetPort: 8001
type: ClusterIP

podAnnotations: {}

livenessProbe:
  httpGet:
    path: /status
    port: http
  initialDelaySeconds: 20
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /ready
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5

app:
  replicaCount: 2
  requests:
    memory: "128Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "1"

vars: {}
secrets: {}
