name: build

on:
  push:
    branches-ignore:
      - deploy
    tags-ignore:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PYTHON_ENV: ci
      PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
      FMP_API_KEY: ${{ secrets.FMP_API_KEY }}
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        run: pip install -U pip poetry
      - name: Install dependencies no book
        run: poetry install
      - name: run tests no book
        run: make tests
      - name: Install dependencies
        run: make install-dev
      - name: run lint
        run: make lint-check
      - name: run tests
        run: make tests
      - name: upload coverage reports to codecov
        if: matrix.python-version == '3.12'
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/coverage.xml
      - name: build book
        if: ${{ matrix.python-version == '3.12' }}
        run: make book
      - name: publish book
        if: ${{ matrix.python-version == '3.12' }}
        run: make publish-book
      - name: publish
        if: ${{ matrix.python-version == '3.12' && github.event.head_commit.message == 'release' }}
        run: make publish
